<div class="container">
  <div class="title">
    <h1>
      {{ "PROJECTS.TITLE" | translate }}
      <img
        src="https://raw.githubusercontent.com/marinellibr/portfolio-sabrina-resources/main/images/smile.svg"
        alt="Smiley face"
      />
    </h1>

    <p>{{ "PROJECTS.SUBTITLE" | translate }}</p>
  </div>

  <div class="CTAs">
    <button (click)="newTab('https://www.behance.net/sabrinacardoso7')">
      Behance
    </button>
    <button (click)="newTab('https://www.linkedin.com/in/sabrinascardoso/')">
      LinkedIn
    </button>
  </div>
</div>
