<div class="container">
  <img
    src="https://raw.githubusercontent.com/marinellibr/portfolio-sabrina-resources/refs/heads/main/images/pp.png"
    alt="profile picture"
  />

  <section class="about">
    <h2>Oi, eu sou a Sabrina.</h2>

    <div class="text-box">
      <p>Meu nome é Sabrina Cardoso tenho 25 anos e sou Product Designer.</p>
      <p>
        Sou formada em Design Gráfico pela UNIP e pós-graduada em User
        Experience pela Belas Artes de São Paulo. Minha trajetória começou na
        comunicação visual e, com o tempo, se aproximou cada vez mais de
        produto, UX/UI e criação de experiências digitais.
      </p>
      <p>
        Atualmente, atuo pela BRQ Digital Solutions em projetos para o Itaú, com
        foco em produtos financeiros, sistemas internos, atendimento e
        ferramentas operacionais. No dia a dia, trabalho com discovery,
        mapeamento de jornadas, prototipação, testes de usabilidade,
        documentação e evolução de fluxos junto a times de Produto, Tecnologia e
        Negócio.
      </p>
      <p>
        Tenho interesse especial por projetos que envolvem sistemas complexos,
        melhoria de processos e experiências que precisam ser simples para quem
        usa. Acredito que o design tem um papel importante em traduzir
        necessidades, organizar informações e transformar problemas em soluções
        mais claras, úteis e intuitivas.
      </p>
      <p>
        Busco criar experiências que conectem pessoas, objetivos de negócio e
        boas práticas de usabilidade, sempre com atenção à consistência,
        acessibilidade e impacto real na jornada do usuário.
      </p>
      <p>
        Quer conhecer melhor minha trajetória? Dá uma olhada no meu currículo :)
      </p>

      <button (click)="openCurriculum()">Meu currículo</button>
    </div>
  </section>
</div>
